# VS Code useful
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# Ignore Mac system files
.DS_store

# Ignore node_modules folder
node_modules

# Ignore files related to API keys
.env